<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Seguimiento</title>
    <!-- Not present in the tutorial. Just for basic styling. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
    <script src="{{ url_for('static', filename='bower_components/react/react.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/babel/browser.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/marked/marked.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/PubSubJS/src/pubsub.js') }}"></script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/babel">
        var EditButton = React.createClass({
            handleClick: function(){
               PubSub.publish('edit', this.props.obj);
            },
            render: function() {
                return(<a href="#" onClick={this.handleClick}>Editar </a>)
            }
        })
        var DeleteButton = React.createClass({
            handleClick: function(){
              this.props.callback(this.props.obj)  
            },
            render: function() {
                return(<a href="#" onClick={this.handleClick}>Borrar </a>)
            }
        })

        var Event = React.createClass({
          rawMarkup: function() {
            var rawMarkup = marked(this.props.children.toString(), {sanitize: true});
            return { __html: rawMarkup };
          }, 
          render: function() {
            
            return (
              <tr className="Event">
                <td className="EventUser">
                  {this.props.event.user}
                </td>
                  <td className="EventType">
                  {this.props.event.event_type_name}
                  </td>
                  <td className="EventNotes">
                  {this.props.event.notes}
                  </td>
                  <td>
                  <DeleteButton callback={this.props.callback} obj={this.props.event.id}/>
                  <EditButton obj={this.props.event}/>
                  </td>
                </tr>
            );
          }
        });    
        var EventList = React.createClass({
          render: function() {
                var onEventDelete = this.props.onEventDelete
                if (this.props.data !=undefined){
                var eventNodes = this.props.data.map(function(event) {
                  return (
                    <Event event={event}  key={event.id} callback={onEventDelete}>
                    </Event>

                  );
                });
              } else {var eventNodes = ''} 

                return (
                  <table className="table table-striped">
                  <thead>
                  <th>User</th>
                  <th>Event Type</th>
                  <th>Notes</th>
                  </thead>
                  <tbody>
                    {eventNodes}
                    </tbody>
                  </table>
                );          
              }
        });

        var EventForm = React.createClass({
          getInitialState: function() {
              
              var options = this.props.event_types.map(function(elem){
                    return (<option  key={elem.id} value={elem.id}>{elem.name}</option>);
                  });
              options.unshift(<option  key='-1' value='-1'>---------------</option>)
              return {user: '', notes: '', event_type:'', event_type_options: options, editing:null};
            },

            componentWillMount: function() {
                // when React renders me, I subscribe to the topic 'products'
                // .subscribe returns a unique token necessary to unsubscribe
                this.pubsub_token = PubSub.subscribe('edit', function(e, elem) {
                  // update my selection when there is a message
                  this.toggleEditing(elem);
                }.bind(this));
              },

              componentWillUnmount: function() {
                // React removed me from the DOM, I have to unsubscribe from the pubsub using my token
                PubSub.unsubscribe(this.pubsub_token);
              },

            toggleEditing: function(elem){
                this.setState({editing: elem.id, user:elem.user, notes:elem.notes, event_type:elem.event_type}) 
                this.render()
            },
            handleEventTypeChange: function(e) {
              this.setState({event_type: e.target.value});
              var index = e.nativeEvent.target.selectedIndex;
              var option_text = e.nativeEvent.target[index].text              
              this.setState({event_type_name: option_text});
            },

            handleUserChange: function(e) {
              this.setState({user: e.target.value});
            },
            handleNotesChange: function(e) {
              this.setState({notes: e.target.value});
            },          
            handleSubmit: function(e) {
              e.preventDefault();
              var user = this.state.user.trim();
              var notes = this.state.notes.trim();
              var event_type = this.state.event_type
              var event_type_name = this.state.event_type_name

              if (!notes || !user || !event_type) {
                return;
              }
              
              if (this.state.editing == null) {
                console.log(this.state.editing)
                this.props.onEventSubmit({user: user, notes: notes, event_type:event_type, event_type_name:event_type_name});
              } else {
                this.props.onEventEdit({id: this.state.editing, user: user, notes: notes, event_type:event_type, event_type_name:event_type_name});
              }
              this.setState({user: '', notes: '', event_type:'', event_type_name:'-1', editing:null});
            },            
          render: function() {
            return (
                <form className="eventForm" onSubmit={this.handleSubmit}>
                  <input type="text" placeholder="Your name"  value={this.state.user}
                          onChange={this.handleUserChange}/>
                  <input type="text" placeholder="Say something..."   value={this.state.notes}
                          onChange={this.handleNotesChange}/>
                  <select placeholder="Select event type...." value={this.state.event_type} onChange={this.handleEventTypeChange}>
                      {this.state.event_type_options}
                  </select>
                  <input type="submit" value="Post" />
                </form>
            );
          }
        });    
        var EventBox = React.createClass({
         getInitialState: function() {
            return {data: []};
          }, 
        
        loadEventsFromServer: function() {
          $.ajax({
            url: this.props.url,
            dataType: 'json',
            cache: false,
            success: function(data) {
              this.setState({data: data.results});
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.url, status, err.toString());
              }.bind(this)
            });
          },      
          handleEventSubmit: function(event) {
                  var events = this.state.data;
                  // Optimistically set an id on the new Event. It will be replaced by an
                  // id generated by the server. In a production application you would likely
                  // not use Date.now() for this and would have a more robust system in place.
                  event.id = Date.now();
                  var newEvents = events.concat([event]);
                  console.log(event)
                  this.setState({data: newEvents});            
                  $.ajax({
                    url: this.props.url,
                    dataType: 'json',
                    type: 'POST',
                    data: event,
                    success: function(data) {
                      this.setState({data: data});
                    }.bind(this),
                    error: function(xhr, status, err) {
                       this.setState({data: events});
                      console.error(this.props.url, status, err.toString());
                    }.bind(this)
                  });
          },                       
          handleEventDelete: function(id) {
                  var events = this.state.data;
                  var newEvents = this.state.data.filter(function(el){ return el.id != id; });
                  this.setState({data: newEvents});
                  $.ajax({
                    url: this.props.deleteUrl+"/" + id,
                    dataType: 'json',
                    type: 'POST',
                    success: function(data) {
                      this.setState({data: data});
                    }.bind(this),
                    error: function(xhr, status, err) {
                       this.setState({data: events});
                      console.error(this.props.deleteUrl, status, err.toString());
                    }.bind(this)
                  });
          },          
          handleEventEdit: function(obj) {
                  var editEvent = obj.id
                  var editEventId = editEvent;
                  // this.setState({data: newEvents});
                  $.ajax({
                    url: this.props.editUrl+"/" + editEventId,
                    dataType: 'json',
                    type: 'PATCH', 
                    data: obj,
                    success: function(data) {
                      this.setState({data: data});
                    }.bind(this),
                    error: function(xhr, status, err) {
                       // this.setState({data: events});
                      console.error(this.props.editUrl, status, err.toString());
                    }.bind(this)
                  });
          },          

          render: function() {
            return (
              <div className="EventBox">
                      <h1>Seguimiento</h1>
                      <EventForm onEventSubmit={this.handleEventSubmit} event_types={this.props.event_types} onEventEdit={this.handleEventEdit}/>
                      <br/>
                      <EventList data={this.state.data} event_types={this.props.event_types} onEventDelete={this.handleEventDelete}  />
              </div>
            );
          },
        componentDidMount: function() {
          this.loadEventsFromServer();
          setInterval(this.loadEventsFromServer, this.props.pollInterval);
        },          
    });

    var event_types_loaded =  {{event_types|safe}}
        ReactDOM.render(
          <EventBox url="/api/events" deleteUrl="/api/events/delete" editUrl="api/events/edit" pollInterval={10000} event_types={event_types_loaded} />,
          document.getElementById('content')
        );    
      </script>
  </body>
</html>
